
@model SliderUpdateVM
@{
    ViewData["Title"] = "Update";
}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Slider Update</h6>
    </div>

    <div class="card-body">
        <form asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="Title"> </label>
                <input asp-for="Title" class="form-control">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text"> </label>
                <input asp-for="Text" class="form-control">
                <span class="text-danger" asp-validation-for="Text"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"> </label>
                <input asp-for="ImageUrl" class="form-control">
                <span class="text-danger" asp-validation-for="ImageUrl"></span>
            </div>
            <div class="form-group">
                <label for="left">Left</label>
                <input asp-for="Position" value="-1" type="radio" id="left">

                <label for="middle">Middle</label>
                <input asp-for="Position" value="0" type="radio" id="middle">

                <label for="right">Right</label>
                <input asp-for="Position" value="1" type="radio" id="right">

                <span class="text-danger" asp-validation-for="Position"></span>
            </div>



            <button class="btn btn-outline-success">Submit</button>
        </form>
    </div>
</div>


